.elementor-10039 .elementor-element.elementor-element-ea4c7f6 > .elementor-container{max-width:497px;}.elementor-10039 .elementor-element.elementor-element-ea4c7f6 .elementor-repeater-item-90fb41c.jet-parallax-section__layout .jet-parallax-section__image{background-size:auto;}.elementor-10039 .elementor-element.elementor-element-bedd9d8 > .elementor-element-populated{border-style:solid;border-width:1px 1px 1px 1px;border-color:#DEE8EB;box-shadow:0px 14px 34px 0px rgba(121, 140, 143, 0.1);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-10039 .elementor-element.elementor-element-bedd9d8 > .elementor-element-populated, .elementor-10039 .elementor-element.elementor-element-bedd9d8 > .elementor-element-populated > .elementor-background-overlay, .elementor-10039 .elementor-element.elementor-element-bedd9d8 > .elementor-background-slideshow{border-radius:8px 8px 8px 8px;}.elementor-10039 .elementor-element.elementor-element-bedd9d8 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10039 .elementor-element.elementor-element-bedd9d8 > .elementor-element-populated > .elementor-widget-wrap{padding:28px 31px 30px 31px;}.elementor-10039 .elementor-element.elementor-element-1d94fb7 .elementor-repeater-item-e6ad881.jet-parallax-section__layout .jet-parallax-section__image{background-size:auto;}.elementor-10039 .elementor-element.elementor-element-ae7e8ea > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(13px/2);}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(13px/2);}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(13px/2);margin-left:calc(13px/2);}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-13px/2);margin-left:calc(-13px/2);}body.rtl .elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-13px/2);}body:not(.rtl) .elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-13px/2);}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-icon i{color:rgba(2, 1, 1, 0);}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-icon svg{fill:rgba(2, 1, 1, 0);}.elementor-10039 .elementor-element.elementor-element-bc47997{--e-icon-list-icon-size:34px;}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text{color:#69727A;padding-left:10px;}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-item:hover .elementor-icon-list-text{color:#00A2BB;}.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-item > a{font-size:16px;font-weight:500;}.elementor-10039 .elementor-element.elementor-element-ab3e71c > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(13px/2);}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(13px/2);}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(13px/2);margin-left:calc(13px/2);}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-13px/2);margin-left:calc(-13px/2);}body.rtl .elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-13px/2);}body:not(.rtl) .elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-13px/2);}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-icon i{color:rgba(2, 1, 1, 0);}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-icon svg{fill:rgba(2, 1, 1, 0);}.elementor-10039 .elementor-element.elementor-element-97ed7ef{--e-icon-list-icon-size:34px;}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text{color:#69727A;padding-left:10px;}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-item:hover .elementor-icon-list-text{color:#00A2BB;}.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-item > .elementor-icon-list-text, .elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-item > a{font-size:16px;font-weight:500;}.elementor-10039 .elementor-element.elementor-element-1d94fb7{margin-top:0px;margin-bottom:0px;}/* Start custom CSS for column, class: .elementor-element-ae7e8ea *//* Icons Align */

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    margin-bottom: -6px;
}

/* Hover List */

.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text:hover {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text:hover {
    transition: 0.3s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ae7e8ea *//* Icons Align */

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    margin-bottom: -6px;
}

/* Hover List */

.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text:hover {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text:hover {
    transition: 0.3s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ae7e8ea *//* Icons Align */

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    margin-bottom: -6px;
}

/* Hover List */

.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text:hover {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text:hover {
    transition: 0.3s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ae7e8ea *//* Icons Align */

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    margin-bottom: -6px;
}

/* Hover List */

.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-bc47997 .elementor-icon-list-text:hover {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text {
    transition: 0.3s;
}

.elementor-10039 .elementor-element.elementor-element-97ed7ef .elementor-icon-list-text:hover {
    transition: 0.3s;
}/* End custom CSS */